include *.md LICENSE
recursive-include tests *.py
recursive-include tests *.sqlite
recursive-include tests *.consxml
recursive-include tests *.xml
recursive-include tests *.txt
recursive-include tests *.fasta
recursive-include tests *.map
recursive-include tests *.yml
recursive-include tests *.mzML
recursive-include tests *.mzid
global-exclude *.py[co]
global-exclude \.*
